<br>
<% if @user.account.status == "started" %>
    <h1>Doplňte všechny registrační údaje</h1>
    <%= link_to "Dokončit registraci", after_register_path(:add_personal), class: "btn btn-default" %>
<% else %>
    <br>
    <h1>Děkujeme za vyplnění všech údajů registrace</h1>
    <h3>Váš účet bude co nejdříve schválen, bude te o tom informováni emailem.</h3>
    <h4>Poté se již můžete přihlašovat k pracovním nabídkám</h4>
    
<% end %>