<div class="form-wrapper">
  <div class="form-login col-xs-12 col-md-6 col-md-offset-3">
    <div class="form-title">
      <h3>Editace projektu</h3>
    </div>
    <hr>
      
    <%= render 'form' %>
      
    <%= link_to 'Detail', project_path(@project) %> | 
    <%= link_to 'Zpět', :back %>
      
  </div>
</div>