<div class="form-wrapper">
  <div class="form-login col-md-6 col-md-offset-3">
    <br>
    <h2>Upravit účet: <%= @account.user.full_name %> </h2>
    
    <br>
    <hr>

    
    <%= render 'form' %>
    
    <%= link_to 'Detail', @account %> |
    <%= link_to 'Zpět', root_path %>
  </div>
</div>
    